/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require icomoon-social
 *= require leaflet
 *= require leaflet.ie
 *= require jquery.smartmenus.bootstrap
 *= require main
 *= require_self
 *= require_tree .
 */
.col-price {text-align: right; }
#dashboard_user{background-color: #CFE4F2}
.control-label{text-align: left !important;}
.form-control{width: 95% !important;}
.green_text{color: green;}
.orange_text{color: orange}