<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8"/>
	</head>
	<body>
	
	<h3><b>Dear Customer,<b></h3>
		<p>Thank you for signing up with us. We are delighted to have you with us and look forward to serving you with the best online shopping experience.</p>
		<br><br><br>
		<p>Cheers!</p>
		<p>Team Store</p>
 
	</body>
</html>	