

<div class="section">
	    	<div class="container">

	    		<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<h2>Track Your Order</h2>
						<%= render partial: "layouts/flash_messages", flash: flash %>
					</div>
				</div>	
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<div class="basic-login">
							<form method="get" action="/track/show" id="track">
								<div class="form-group">
		        				 	<label for="login-username"><i class="icon-user"></i> <b>Order Number</b></label>
									<input type="text" class="form-control" name="order_number" id="order_number" placeholder="Order Number" required="required">
								</div>
								<div class="form-group">
		        				 	<label for="login-password"><i class="icon-lock"></i> Email</label>
									<input type="email" class="form-control" name="email" id="email" required="required" placeholder="Email">
								</div>
								<div class="form-group">
									<label class="checkbox">
									</label>
									<button type="submit" class="btn btn-blue">TRACK</button>
									
									<div class="clearfix"></div>
								</div>
							</form>
						</div>
						<div class="social-login">
						<div class="not-member">
							<p>Not a member? <a href="/users/sign_up">Register here</a></p>
						</div
					</div>
					</div>
					
				</div>
			</div>
		</div>