<!-- Sidebar -->
<div class="col-sm-2 blog-sidebar">
<br/>
	<h4>Admin Panel</h4>
	<ul class="recent-posts">
		<li><a href="/dashboard/index">Users</a></l>
		<li><a href="/products">Product</a></li>
		<li><a href="/categories">Category</a></li>
		<li><a href="/sub_categories">Sub-category </a></li>
		<li><a href="/menu_categories">Menu Category</a></li>
		
	</ul>
</div>
<!-- End Sidebar -->